HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### User Custom ###
*.log
*.db-journal
data/rulateday/*
Ancient_Names_Corpus.txt
English_Cn_Name_Corpus.txt
Japanese_Names_Corpus.txt
LoadFileTest.txt

rulateday-server/src/main/resources/query/
rulateday-server/src/main/resources/coctext/
rulateday-dao/src/main/resources/mapper/

config/